# Virtual Environments and Build Environments (Folders)
.venv/
.buildenv/

# Build Artifacts (Folders)
build/
dist/

# Project Specific Files
Classflow/App/classflow.ico
Classflow/App/Classflow.spec
Classflow/App/codegen_launcher.py
Classflow/App/get_auth.py

# Legacy Data (Folder)
Classflow/Legacy/

# Sensitive Data 
google_client_secret.json